.MainLayoutDark {
    min-height: 100vh;
    height: 100%;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #010a25;
}

.MainLayoutLight {
    min-height: 100vh;
    height: 100%;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: snow;
}
