.MoviesListCard {
    height: 420px;
    width: 250px;
    margin: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #032b53;
    border-radius: 15px;
    background-color: #030a26;
    transition: all ease 500ms;
}


.MoviesListCard:hover {
    cursor: pointer;
    box-shadow: rgba(249, 217, 1, 0.87) 0 8px 20px;
    transform: scale(1.05) translate(5px, -10px);
}

.imageBlock {
    width: 100%;
    height: 80%;
    border-radius: 16px 16px 0 0;
}

.imageBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

/*.cardContent {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex: 0 1 auto;*/
/*    color: snow;*/
/*    padding: 5px;*/
/*}*/

.MoviesListCard h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 20px 0;
    color: snow;
}

.additionalData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year {
    color: snow;
}